<!DOCTYPE html>
<html>
<head>
    <title>Basic Search Engine Example</title>
</head>
<body>
	
	<h3> POOPLE </h3>
	
    <form action="" method="GET">
        <label for="search_term_id">Bitte Suchbegriff eingeben: </label>
        <input name="search_term" id="search_term_id">
    </form>
	
	<h3>Search Results</h3>

    <p>{result1}</p>
	<p>{result2}</p>
	<p>{result3}</p>

</body>
</html>